.log{
    width: 350px;
    height: 300px;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 30px;
    color:black;
    margin-left: 500px;
}
.input{
  padding: 4px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border-color: aqua;
    margin-left:20px;
    font-size: 20px;
    margin-top: 20px;
}
.handle{
   margin-top: 50px;
    background-color: red;
    margin-left: 120px;
    font-size: 20px;
    color: white;
}
.letter{
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}