.home {
  display: flex;
  height: 100vh;
  background-color: hsl(0, 6%, 7%);
  overflow: hidden;
}
.sidebar {
  width: 220px;
  background-color: hwb(0 92% 6%);
  border-right: 1px solid #ddd;
  padding: 20px;
  font-size: 18px;
  line-height: 2;
  position: fixed;
  color: whitesmoke;
  height: 100%;
}
.sidebar p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  cursor: pointer;
  margin: 15px 0;
  transition: background 0.3s;
  padding: 8px;
  border-radius: 6px;
}
.sidebar p:hover {
  background-color: hsl(0, 14%, 1%);
}

.Youtube{
  color: #cc0000;
}

.content {
  flex: 1;
  margin-left: 240px;
  padding: 20px;
  overflow-y: auto;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}
.image-card {
  background: hsl(0, 12%, 97%);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.image-card:hover {
  transform: scale(1.05);
}
.image-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.image-card .title {
  padding: 8px 10px 0;
  font-size: 1rem;
  font-weight: 600;
  color: #222;
}
.image-card .channel {
  padding: 0 10px;
  font-size: 0.9rem;
  color: #666;
}
.image-card .meta {
  padding: 0 10px 10px;
  font-size: 0.85rem;
  color: #777;
}
.subscribe-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 6px;
  margin-left: 140px;
  margin-bottom: 20px;
}

.subscribe-btn:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}
.user-circle {
  width: 45px;
  height: 45px;
  background: red;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 20px;
}


