.email-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ececec;
}

.email-box {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

.email-box input {
  width: 90%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.email-box button {
  margin-top: 20px;
  padding: 10px 25px;
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
