.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
   position: relative;
  top: -48px;
}

.search-icon {
  font-size: 24px;
  margin-right: 8px;
}

h1{
  margin-top: 1px;
}
.tab {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
}

.butt {
  margin-left: 8px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.butt:hover {
  background-color: #45a049;
}
