.new{
    width: 800px;
    height:500px;
    border: 3px solid black;
    border-radius: 30px;
    text-align: center;
    background-color: azure;
    color: black;
    margin-left: 300px;
}
.channel{
    
    border-radius: 10px;
    
    width: 500px;
    height: 40px;
    border: 2px solid black;
}
.head{
      
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 20px;
}
.pass{
      border: 2px solid black;
      margin-top: 10px;
    
    border-radius: 10px;
    width: 500px;
    height: 40px;
}
.des{
      border: 2px solid black;
    margin-top: 10px;
    justify-content: center;
     align-items: center; 
    width: 500px;
    height: 40px;
    display: inline-table;

    border-radius: 10px;
 }
.para{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 20px;
    border-radius: 10px;
}
.link{
      border: 3px solid black;
    margin-bottom: 30px;
    
    border-radius: 10px;
    width: 500px;
    height: 40px;
    border: 2px solid black;
}
.button{
    background-color: red;
   color: whitesmoke;
}
.label{
    padding-bottom: 200px;
    padding-top: 900px;
    
}